{% extends 'layouts/main1.html' %}
{% load static %}

{% block body %}

<!-- product section -->
<section class="product_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <h2>
            Our <span>Collections</span>
         </h2>
      </div>
      <div class="row">
         {% for category in categories %}
         <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     {% if category.slug %}
                     <a href="{% url 'category_detail' category.slug %}" class="option1">
                        {{ category.name }}
                     </a>
                     {% else %}
                     <span class="option1">{{ category.name }}</span>
                     {% endif %}
                     <!-- You can add a "Buy Now" link or button if needed -->
                  </div>
               </div>
               {% if category.product_set.first %}
               <!-- Displaying the first product's image and details -->
               <div class="img-box">
                  <img src="{{ category.product_set.first.images.first.image.url }}" alt="Product Image">
               </div>
               <div class="detail-box">
                  <h5>
                     {{ category.product_set.first.name }}
                  </h5>
                  <h6>
                     
                  </h6>
               </div>
               {% endif %}
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="btn-box">
         <a href="#">
            View All products
         </a>
      </div>
   </div>
</section>
<!-- end product section -->

{% endblock body %}

{% block extra_css %}
<style>
.hero_area {
    padding: 0;
    margin: 0;
}

.product_section.layout_padding {
    padding-top: 0;
    margin-top: 0;
}

/* Ensure no padding/margin on body */
body {
    margin: 0;
    padding: 0;
}

.container, .row, .col-sm-6, .col-md-4, .col-lg-4, .box, .option_container, .options, .img-box, .detail-box {
    margin: 0;
    padding: 0;
}
</style>
{% endblock extra_css %}