{% load static %}

<section class="slider_section">
    <div class="slider_bg_box">
        <img src="{% static 'images/pic.AVIF' %}" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="detail-box">
                                <h1>
                                    <span>
                                        Upto 50% Off 
                                    </span>
                                    <br>
                                     On Travel Gears
                                </h1>
                                <p>
                                    Explore our top-quality travel gear, including tents and sleeping bags, and essential accessories like packing cubes and travel pillows. Perfect for every journey, our products ensure comfort and organization for all travelers.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="detail-box">
                                <h1>
                                    <span>
                                        Sale 20% Off
                                    </span>
                                    <br>
                                    On Clothing
                                </h1>
                                <p>
                                    Discover our travel-friendly clothing, designed for comfort, style, and versatility. From breathable fabrics to quick-dry materials, our collection includes everything from casual wear to active gear, ensuring you're ready for any adventure.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="detail-box">
                                <h1>
                                    <span>
                                        Sale 20% Off
                                    </span>
                                    <br>
                                    On Luggage and Bags
                                </h1>
                                <p>
                                    Shop our range of durable luggage and stylish bags. From spacious suitcases and carry-ons to versatile backpacks and duffels, find the perfect travel companions designed for every adventure.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>